@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  min-height: 100vh;
  background-color: #f4f4f5;
  background: #f4f4f5;
}
.text-stroke {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.175vw;
  -webkit-text-stroke-color: #f4f4f5;
}
